h1 {
    text-align: center;
}

form {
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
}

.textbox {
    width: 300px;
    height: 20px;
}

.combobox {
    width: 300px;
    height: 27px;
}

.datebox {
    height: 20px;
}

.alerta {
    color: red;
}

body {
    margin: 0;      /*Quita por defecto todos los márgenes del documento*/
    background-image: url("../img/logo donar.png");   /*Cargo una imagen de fondo*/
    background-size: 700px 700px;
    background-repeat: no-repeat;   /*Esto hace que no se cree un efecto mosaico*/
    background-position: 50% 50%;
    font-family: Arial, Helvetica, sans-serif;
}

#boton_header {
    padding: 5px;
    border-style: solid;
    border-color: skyblue;      /*Color del borde*/
    border-radius: 6px;     /*Bordes redondeados*/
    background-color: white;      /*Cambia el color de fondo*/
    width: 150px;       /*El largo del objeto (en píxeles)*/
    margin-right: 10px;     /*Define la distancia entre un objeto y otro por el lado derecho*/
    transition: 0.2s;
}

#boton_header:hover {   /*"hover" es la propiedad cuando se le pasa el mouse por encima*/
    background-color: rgb(44, 168, 218);
    border-color: rgb(44, 168, 218);
    cursor: pointer;
    box-shadow: grey 0px 0px 4px;
}

#cabecera_principal {
    background-color: white;
    text-align: center;     /*Centro los elementos dentro de la cabecera*/
    padding-top: 15px;
    padding-bottom: 15px;   /*Aumenta el tamaño vertical de la cabecera. INVESTIGAR BIEN "PADDING" y "MARGIN" PORQUE SE VA A USAR MUCHO*/
    border-bottom-style: solid;     /*Agrega un borde inferior a la cabecera con la propiedad "solid"*/
    border-width: 3px;      /*Define el grosor del borde*/
    border-color: skyblue;
    box-shadow: grey 0px 5px 10px;
}

.registro {
    background-color: rgba(255, 255, 255, 0.753);
}
